<style> 
  .nav-link{
    color: white;
  } 
 
  #nav{
    background-color: #166AA8;
   
  }
  #navlink{
    font-size:25px;  
    font-family: 'Lora';

  }
a{
  font-family: 'Lora';

}
a:hover{
  color:#F4BD0F !important;
}
#tophead{
padding: 10px 20px; 
margin-left: 20px;
 margin-left: 20px; 
 margin-top: 20px;
 font-size:25px;

}
@media (max-width: 600px) {
  #tophead{
    padding: 5px !important; 
margin-left: 0px !important;
 margin-left: 0px !important; 
 margin-top: 0px !important;
 font-size:15px;
  }
}


</style>


<nav class="navbar navbar-light">
  <div class="container-fluid">
    <img src="https://nammaooru.co/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.c903bad7.png&w=256&q=75"> 
   
    <form class="d-flex">
      
     
      <button type="button" class="secondary btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="tophead">Login</button>
      <button type="button" class="secondary btn" onclick="window.location.href='/about/page'" id="tophead">About us</button>
      <button type="button" class="secondary btn" onclick="window.location.href='/contact/page'" id="tophead">Contact us</button>
      <div id="google_translate_element" style="padding-top: 40px; font-size: 20px;margin-left: 20px;"></div>
     
    </form>
  </div>
</nav>
<br>











<nav class="navbar navbar-expand-lg  navbar-dark" id="nav">
    <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto" id="navlink">
          <a class="nav-link" aria-current="page" href="/" style="padding: 10px 20px">HOME</a>
          <a class="nav-link" href="/1" style="padding: 10px 20px">TODAY TRENDS</a>
          <a class="nav-link" href="/3" style="padding: 10px 20px" >CINEMA</a>
          <a class="nav-link" href="/4"  style="padding: 10px 20px">SPORTS</a>
          <a class="nav-link" href="/5"  style="padding: 10px 20px">HEALTH</a>
          <a class="nav-link" href="/6"  style="padding: 10px 20px">KIDS</a>
          <a class="nav-link" href="/7"   style="padding: 10px 20px">JOB ALERTS</a>
          <a class="nav-link" href="/8" style="padding: 10px 20px" >EDUCATIONS</a>
          <a class="nav-link" href="/9"  style="padding: 10px 20px">TOURISM</a>
         <!--- <a class="nav-link" href="user/login">Login</a>-->
        </div>
       
      
      </div>
    </div>
  </nav>
  <br>